﻿@model List<System.Web.Mvc.SelectListItem>
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2> Add Category </h2>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Add Category</h1>
        </div>
    </div>



    <div class="row">

        <div class="col-md-6">
            <form role="form" method="post" action="/Admin/AddCategory">

                @*<select class="form-control" id="categorySelect">
                        <option>Please Select a Product Group</option>
                        <option>Bar Soaps</option>
                        <option>Lotions</option>
                        <option>Creams</option>
                    </select>*@
                @Html.DropDownList("SubCategoryId",(System.Collections.Generic.List<SelectListItem>)Model,"Select Main Category",new { @class="form-control"})
                <div class="form-group">
                    <label for="productname" class="loginFormElement">Category Name:</label>
                    <input class="form-control" id="productName" type="text" name="Name">
                </div>

                @*<div class="form-group">
                    <label for="productprice" class="loginFormElement">Product Price</label>
                    <input class="form-control" id="productPrice" type="number" name="Price">
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Product Explanation</label>
                    <input class="form-control" id="productExplanation" type="text" name="Explanation">
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Product Quantity</label>
                    <input class="form-control" id="productQuantity" type="number" name="Quantity">
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Product Property</label>
                    <input class="form-control" id="productProperty" type="text" name="Property">
                </div>
                <div class="form-group">

                    <label class="control-label">Product Image</label>

                    <input class="filestyle" data-icon="false" type="file" name="Image">

                </div>*@

                <div class="form-group">


                    <button type="submit" id="loginSubmit" class="btn btn-success loginFormElement">Add Product</button>

                </div>
            </form>

        </div>
    </div>
</div>

@section scripts{
    <script>
    </script>
    }
