﻿@model List<fidan.Data.Category>
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    string categoryType = string.Empty;
}

<h2>Category</h2>


<table id="categoryTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Category Type</th>
            <th>Sub Category Number</th>
            <th>Edit</th>
            <th>Delete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.Raw(item.Name)</td>
                <td>@{if (item.SubCategoryId!=0)
                    {
                        categoryType="Sub Category";
                    }
                    else
                    {
                        categoryType = "Main Category";
                    }}@Html.Raw(categoryType)</td>
                <td>@Html.Raw(Model.Where(w=>w.SubCategoryId==item.Id).Count())</td>
                <td><a href="/Admin/UpdateCategory?Id=@item.Id">Update </a></td>
                <td><a href="/Admin/DeleteCategory?Id=@item.Id">Delete </a></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#categoryTable').dataTable();
        });
    </script>
    }