﻿@model fidan.Core.CategoryModel
@{
    ViewBag.Title = "AddProducts";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Add Product</h1>
        </div>
    </div>



    <div class="row">

        <div class="col-md-6">
            @*<form role="form" method="post" action="/Admin/AddProducts">*@
                @using (Html.BeginForm("AddProducts","Admin",FormMethod.Post, new { enctype = "multipart/form-data" })) { 
                <div class="form-group">
                    <label for="productname" class="loginFormElement">Product Name:</label>
                    <input class="form-control" id="productName" type="text" name="Name">
                </div>

                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Product Price</label>
                    <input class="form-control" id="productPrice" type="number" name="Price">
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Product Explanation</label>
                    <input class="form-control" id="productExplanation" type="text" name="Explanation">
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Product Quantity</label>
                    <input class="form-control" id="productQuantity" type="number" name="Quantity">
                </div>
                <div class="form-group">
                    <label for="productprice" class="loginFormElement">Product Property</label>
                    <input class="form-control" id="productProperty" type="text" name="Property">
                </div>
                <div class="form-group">

                    <label class="control-label">Product Image</label>
                    <input type="file" name="File" />

                </div>
                <div class="form-group">
                    <select class="form-control" id="categorySelect" name="CategoryId">
                        @foreach (var item in Model.AllMainCategory)
                        {
                            <option value="@item.Id">@item.Name</option>
                            }
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="IsDisplayProduct">
                        <option value="true">Evet</option>
                        <option value="false">Hayır</option>
                    </select>
                </div>
                <div class="form-group" hidden>
                    <label class="control-label"></label>
                    <input type="text" name="IsDisplayProduct" id="IsDisplayProduct" />
                </div>
                <div class="form-group">


                    <button type="submit" id="loginSubmit" class="btn btn-success loginFormElement">Add Product</button>

                </div>
                }
            @*</form>*@

        </div>
    </div>
</div>

@section scripts{
    
    <script src="~/scripts/admin/createProducts.js"></script>
    
}
