﻿@model List<fidan.Data.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    fidan.Core.ProductHelper productHelper = new fidan.Core.ProductHelper();
    fidan.Core.CategoryHelper categoryHelper = new fidan.Core.CategoryHelper();
}
<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Tables</li>
    </ol>
    <!-- Example DataTables Card-->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table Example
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Property</th>
                            <th>Explanation</th>
                            <th>Photo</th>
                            <th>Category</th>
                            <th>Delete</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.Property</td>
                                <td>@item.Explanation</td>
                                <td>@{
                                    var image = productHelper.GetReturnImage(item.FormId);
                                }
                                <img src="http://127.0.0.1:8887/@image" alt="Resim Görüntülenemiyor"/>
                                </td>
                                <td>@{
                                    string name = categoryHelper.GetCategoryName(item.CategoryId);
                                }@name</td>
                                <td><a href="/Admin/DeleteProducts?Id=@item.Id"><i class="fa fa-remove">Delete</i></a></td>
                                <td><a href="#" class="update"><i class="fa fa-edit">Update</i></a></td>
                            </tr>
                                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
</div>
@section scripts{
       
    <script src="~/scripts/Products.js">
    </script>
}

