﻿@model fidan.Core.CategoryModel
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>UpdateCategory</h2>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1>Add Product</h1>
        </div>
    </div>



    <div class="row">

        <div class="col-md-6">
            <form role="form" method="post" action="/Admin/UpdateCategory">

                @*<select class="form-control" id="categorySelect">
                        <option>Please Select a Product Group</option>
                        <option>Bar Soaps</option>
                        <option>Lotions</option>
                        <option>Creams</option>
                    </select>*@

                @if (Model.Category.SubCategoryId != 0)
                {
                    <div class="form-group">
                        <label for="productname" class="loginFormElement">Main Category Name:</label>
                        <input class="form-control" id="mainCategoryName" type="text"  value="@Model.MainCategory.Name">
                    </div>
                    <label class="form-group"> All Main Categories </label>
                    <select class="form-control" id="categorySelect" name="SubCategoryId">
                        @foreach (var item in Model.AllMainCategory)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                }
                <div class="form-group">
                    <label for="productname" class="loginFormElement">Current Name:</label>
                    <input class="form-control" id="categoryName" type="text" name="Name" value="@Model.Category.Name">
                </div>
                @foreach (var item in Model.SubCategories)
                {
                    <div class="form-group">
                        <label for="productname" class="loginFormElement">Sub Categories:</label>
                        <input class="form-control" id="subCategoryName" type="text"  value="@item.Name">
                    </div>
                }

                @*<div class="form-group">
                        <label for="productprice" class="loginFormElement">Product Price</label>
                        <input class="form-control" id="productPrice" type="number" name="Price">
                    </div>
                    <div class="form-group">
                        <label for="productprice" class="loginFormElement">Product Explanation</label>
                        <input class="form-control" id="productExplanation" type="text" name="Explanation">
                    </div>
                    <div class="form-group">
                        <label for="productprice" class="loginFormElement">Product Quantity</label>
                        <input class="form-control" id="productQuantity" type="number" name="Quantity">
                    </div>
                    <div class="form-group">
                        <label for="productprice" class="loginFormElement">Product Property</label>
                        <input class="form-control" id="productProperty" type="text" name="Property">
                    </div>
                    <div class="form-group">

                        <label class="control-label">Product Image</label>

                        <input class="filestyle" data-icon="false" type="file" name="Image">

                    </div>*@

                <div class="form-group">


                    <button type="submit" id="loginSubmit" class="btn btn-success loginFormElement">Update</button>
                    <input type="button" name="name" value="Go Back" onclick="window.location = '/Admin/Category'" />

                </div>
            </form>

        </div>
    </div>
</div>

@section scripts{
    <script>
    </script>
}