﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body {
            
            font-family: 'Roboto', sans-serif;
        }

        .form-control {
            height: 40px;
            box-shadow: none;
            color: #969fa4;
        }

            .form-control:focus {
                border-color: #5cb85c;
            }

        .form-control, .btn {
            border-radius: 3px;
        }

        .signup-form {
            width: 400px;
            margin: 0 auto;
            padding: 30px 0;
        }

            .signup-form h2 {
                color: #636363;
                margin: 0 0 15px;
                position: relative;
                text-align: center;
            }

                .signup-form h2:before, .signup-form h2:after {
                    content: "";
                    height: 2px;
                    width: 30%;
                    background: #d4d4d4;
                    position: absolute;
                    top: 50%;
                    z-index: 2;
                }

                .signup-form h2:before {
                    left: 0;
                }

                .signup-form h2:after {
                    right: 0;
                }

            .signup-form .hint-text {
                color: #999;
                margin-bottom: 30px;
                text-align: center;
            }

            .signup-form form {
                color: #999;
                border-radius: 3px;
                margin-bottom: 15px;
                background: #f2f3f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .signup-form .form-group {
                margin-bottom: 20px;
            }

            .signup-form input[type="checkbox"] {
                margin-top: 3px;
            }

            .signup-form .btn {
                font-size: 16px;
                font-weight: bold;
                min-width: 140px;
                outline: none !important;
            }

            .signup-form .row div:first-child {
                padding-right: 10px;
            }

            .signup-form .row div:last-child {
                padding-left: 10px;
            }

            .signup-form a {
                color: #fff;
                text-decoration: underline;
            }

                .signup-form a:hover {
                    text-decoration: none;
                }

            .signup-form form a {
                color: #5cb85c;
                text-decoration: none;
            }

                .signup-form form a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Sınav</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto" id="Menu">
                        <li class="nav-item active">
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">

            <div class="row">

                <div class="col-lg-3">

                    <h1 class="my-4">Menü</h1>
                    <div class="list-group">
                        
                            <a href="/Home/Rehber" data-id="" class="list-group-item menuid">Listeleme</a>
                        <a href="/Home/Rehber" data-id="" class="list-group-item menuid">Yeni Kayıt</a>
                        <a href="/Home/Arsiv" data-id="" class="list-group-item menuid">Arşivlenenler</a>
                        <a href="/Home/Rehber" data-id="" class="list-group-item menuid">Kullanıcı İşlemleri</a>



                        
                        @*<a href="#" class="list-group-item">Category 2</a>
                            <a href="#" class="list-group-item">Category 3</a>*@
                    </div>

                </div>
                <!-- /.col-lg-3 -->
                @RenderBody()
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <form id="loginForm" method="post" class="form-horizontal" style="display: none;">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Username</label>
                                <div class="col-xs-5">
                                    <input type="text" id="EMail" class="form-control" name="Email" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label">Password</label>
                                <div class="col-xs-5">
                                    <input type="password" id="Password" class="form-control" name="Password" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-3">
                                    <input type="button" id="Login" class="btn btn-default" value="Login " />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
    </div>
</body>
</html>
