﻿@{
    fidan.Core.CategoryHelper categoryHelper = new fidan.Core.CategoryHelper();
    var categories = categoryHelper.GetMainCategory();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>
    <script src="~/Vendor/jquery/jquery.min.js"></script>
    <script src="~/Vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="~/Styles/shop-homepage.css" rel="stylesheet" />
    <link href="~/Styles/util.css" rel="stylesheet" />
    
    <link href="~/Vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Vendor/bootbox/bootbox.min.js"></script>
    <script src="https://oss.maxcdn.com/bootbox/4.2.0/bootbox.min.js"></script>
    
    @*<!-- JQuery Modal-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <!-- Custom styles for this template -->*@
    <!--iziModal-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/css/iziModal.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.1/js/iziModal.min.js"></script>
    <script src="~/scripts/toastr.js"></script>
    <link href="~/Styles/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            color: #fff;
            background: #63738a;
            font-family: 'Roboto', sans-serif;
        }

        .form-control {
            height: 40px;
            box-shadow: none;
            color: #969fa4;
        }

            .form-control:focus {
                border-color: #5cb85c;
            }

        .form-control, .btn {
            border-radius: 3px;
        }

        .signup-form {
            width: 400px;
            margin: 0 auto;
            padding: 30px 0;
        }

            .signup-form h2 {
                color: #636363;
                margin: 0 0 15px;
                position: relative;
                text-align: center;
            }

                .signup-form h2:before, .signup-form h2:after {
                    content: "";
                    height: 2px;
                    width: 30%;
                    background: #d4d4d4;
                    position: absolute;
                    top: 50%;
                    z-index: 2;
                }

                .signup-form h2:before {
                    left: 0;
                }

                .signup-form h2:after {
                    right: 0;
                }

            .signup-form .hint-text {
                color: #999;
                margin-bottom: 30px;
                text-align: center;
            }

            .signup-form form {
                color: #999;
                border-radius: 3px;
                margin-bottom: 15px;
                background: #f2f3f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .signup-form .form-group {
                margin-bottom: 20px;
            }

            .signup-form input[type="checkbox"] {
                margin-top: 3px;
            }

            .signup-form .btn {
                font-size: 16px;
                font-weight: bold;
                min-width: 140px;
                outline: none !important;
            }

            .signup-form .row div:first-child {
                padding-right: 10px;
            }

            .signup-form .row div:last-child {
                padding-left: 10px;
            }

            .signup-form a {
                color: #fff;
                text-decoration: underline;
            }

                .signup-form a:hover {
                    text-decoration: none;
                }

            .signup-form form a {
                color: #5cb85c;
                text-decoration: none;
            }

                .signup-form form a:hover {
                    text-decoration: underline;
                }
    </style>


    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">E Fidan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto" id="Menu">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">

            <div class="row">

                <div class="col-lg-3">

                    <h1 class="my-4">CATEGORIES</h1>
                    <div class="list-group">
                        @foreach (var item in categories)
                        {
                            <a href="/Product?name=@item.Name" class="list-group-item">@item.Name</a>
                        }
                        @*<a href="#" class="list-group-item">Category 2</a>
                            <a href="#" class="list-group-item">Category 3</a>*@
                    </div>

                </div>
                <!-- /.col-lg-3 -->

                <div class="col-lg-9">

                    @RenderBody()
                </div>
                <!-- /.col-lg-9 -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <form id="loginForm" method="post" class="form-horizontal" style="display: none;">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Username</label>
                                <div class="col-xs-5">
                                    <input type="text" id="EMail" class="form-control" name="Email" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label">Password</label>
                                <div class="col-xs-5">
                                    <input type="password" id="Password" class="form-control" name="Password" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-xs-5 col-xs-offset-3">
                                    <input type="button" id="Login" class="btn btn-default" value="Login " />
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        @RenderSection("Scripts", false){ }


    </div>
    <script>
        $(document).ready(function () {
            var giris = '<li class="nav-item" ><a id="giris" class="nav-link" onclick="giris()" href="#" >Giriş</a></li>';
            var cikis = '<li class="nav-item" id="cikis"><a class="nav-link" href="/Account/Logout" >Çıkış</a></li>';
            var kayit = '<li class="nav-item" id="kayit"><a class="nav-link" href="/Account/SignUp" >Kayıt Ol</a></li>';
            $.ajax({
                url: '/Home/CheckLogin',
                success: function(response) {
                    if (response.error==false) {
                        $('#Menu').append(cikis);
                    }
                    else {
                        $('#Menu').append(giris);
                        $('#Menu').append(kayit);
                    }
                }
            })
        })
        function giris() {
            $('.sepeteEkle').first().trigger('click');
        }
        
    </script>
</body>
</html>
