﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/layout/_LayoutPage1.cshtml";
}


<div class="col-lg-9">
    

    

        <div class="signup-form">
            <form action="/Main/Signup" method="post">
                <h2>Kayıt</h2>
                <p class="hint-text">Hesabınızı Oluşturun</p>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6"><input type="text" class="form-control" name="first_name" placeholder="İsim" required="required"></div>
                        <div class="col-xs-6"><input type="text" class="form-control" name="last_name" placeholder="Soyisim" required="required"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Şifre" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Şifre Onay" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block">Kayıt Ol</button>
                </div>
            </form>
        </div>


    
   
</div>