﻿@model List<fidan.Data.Kullanici>
@{
    ViewBag.Title = "Arsiv";
    Layout = "~/Views/layout/_LayoutPage1.cshtml";
}

<h2>Arsiv</h2>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Cep Telefonu</th>
                    <th>Ev Telefonu</th>
                    <th>Adres</th>
                    <th>Sehir</th>
                    <th>Sil</th>
                    <th>Düzenle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>@item.Ad</td>
                        <td>@item.Soyad</td>
                        <td>@item.Ceptel</td>
                        <td>@item.Evtel</td>
                        <td>@item.Adres</td>
                        <td>@item.Sehir</td>
                        <td><a href="/Home/Sil?Id=@item.Id"><i class="fa fa-remove">Aktif Yap</i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>




