﻿@model fidan.Data.Menu
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetMenu</title>
</head>
<body>
    <div> 
        <label>@Model.Content</label>
    </div>
</body>
</html>
