﻿

@{
    Layout = "~/Views/layout/_LayoutPage1.cshtml";
}


                    <div class="row" id="icerik">
                        
                        <div class="signup-form">
                            <form action="/Home/Login" method="post">
                                <h2>Giriş</h2>
                                
                                
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Şifre" required="required">
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg btn-block">Giriş Yap</button>
                                </div>
                            </form>
                        </div>

                    </div>
                    
                
