﻿@model List<fidan.Data.Kullanici>
@{
     Layout = "~/Views/layout/_LayoutPage1.cshtml"; 
}



        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Cep Telefonu</th>
                            <th>Ev Telefonu</th>
                            <th>Adres</th>
                            <th>Sehir</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Ad</td>
                                <td>@item.Soyad</td>
                                <td>@item.Ceptel</td>
                                <td>@item.Evtel</td>
                                <td>@item.Adres</td>
                            <td>@item.Sehir</td>
                        <td><a href="/Home/Sil?Id=@item.Id"><i class="fa fa-remove">Sil</i></a></td>
                        <td><a href="/Home/Duzenle?Id=@item.Id" class="update"><i class="fa fa-edit">Güncelle</i></a></td>
                    </tr>
                                }
                    </tbody>
                </table>
            </div>
        </div>

    
